.btn__payBooking{
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.btn__payBooking i {
    margin-left: 0.3rem;
    transition: bottom 0.3s ease;
}

.btn__payBooking:hover i{
    transform: translateY(0.1rem);
}

.btn__inputData{
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.btn__inputData i {
    margin-left: 0.3rem;
    transition: bottom 0.3s ease;
}

.btn__inputData:hover i{
    transform: translateY(0.1rem);
}