.aboutContainer{
    min-height: 56vh;
}

.profil__OnAbout img{
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.profil__OnAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 30px auto 0 auto;
}

.profil__note{
    text-align: center;
    margin-top: 1rem;
}

.profil__content{
    width: 80%;
    margin: auto;
}