.outerContainer{
    min-height: 56vh;
}

.booking__process{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.box__process{
    flex: 0 0 auto;
    width: 100%;
}

.btn__payBooking{
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.btn__payBooking i {
    margin-left: 0.3rem;
    transition: bottom 0.3s ease;
}

.btn__payBooking:hover i{
    transform: translateY(0.1rem);
}

.btn__inputData{
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.btn__inputData i {
    margin-left: 0.3rem;
    transition: bottom 0.3s ease;
}

.btn__inputData:hover i{
    transform: translateY(0.1rem);
}

.btn__deleteBooking{
    cursor: pointer;
}

.btn__deleteBooking:hover{
    color: red;
}

.edit__profile{
    width: 100%;
    background-color: white;
}

.btn__closeEditProfile{
    cursor: pointer;
    margin: 0 auto;
    width: fit-content;
    padding: 0.5rem;
}

.btn__closeEditProfile:hover{
    color: red;
}

.profile__information{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.profile__picture img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    object-position: 20% 20%;
}