.outerContainer{
    min-height: 56vh;
}

.booking__process{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.box__process{
    flex: 0 0 auto;
    width: 100%;
}

.deleteBooking__button{
    cursor: pointer;
}

.edit__profile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.btn__closeEditProfile{
    cursor: pointer;
    margin: 0 auto;
    width: fit-content;
    padding: 0.5rem;
}

.btn__closeEditProfile:hover{
    color: red;
}

.profile__information{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.profile__picture img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    object-position: 20% 20%;
}