/* ImageDisplay.css */
.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.image-wrapper {
    max-width: 30%;
    max-height: 30%;
    background-color: white;
    position: relative;
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}