.totalReport__Card{
    width: 200px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    /* padding: 0.75rem; */
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 1rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    position: relative;
}

.totalReport__Card h6{
    color: black;
    margin: 0;
}

.totalReport__Card h5{
    color: black;
    font-size: 3rem;
    margin: 0;
}

.iconCard{
    color: black;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-5%,-50%);
    font-size: 5rem;
    opacity: 30%;
}