.listsTripCount{
    display: flex;
    padding: 0;
    align-items: center;
    gap: 0.2rem;
}

.listsTripCount li{
    padding: 0.2rem;
    border-bottom: 1px solid #5f5f61;
}

.topNavReportManagement{
    padding-top: 1rem;
    display: flex;
    align-items: center;
}

.topNavReportManagement h5{
    padding-right: 1rem;
}

.cards__Container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.card__Report{
    display: flex;
    justify-content: space-around;
    width: 150px;
    border-radius: 25px;
    background-color: white;
    padding: 5px;
}