.listsTripCount{
    display: flex;
    padding: 0;
    align-items: center;
    gap: 0.2rem;
}

.listsTripCount li{
    padding: 0.2rem;
    border-bottom: 1px solid #5f5f61;
}

.topNavReportManagement{
    padding-top: 1rem;
    display: flex;
    align-items: center;
}

.topNavReportManagement h5{
    padding-right: 1rem;
}

.frame__chartCard{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    gap: 1rem;
    width: 90%;
    margin: 1rem auto;
}

.chartCard{
    background-color: black;
    padding: 1rem;
    border-radius: 10px;
    width: 350px;
}

.chart__main{
    display: flex;
}

.chart {
    width: 100%;
}

.bar__frame{
    width: 100%;
    background-color: #e4e4e6;
    border-radius: 5px;
}

.bar {
    height: 10px;
    border-radius: 5px;
}

.btn__Trip{
    padding: 0.2rem;
    border: none;
    background: none;
    cursor: pointer;
}

.btn__Trip:hover{
    background: #e4e4e6;
    border-bottom: 1px solid black;
}

.selectedButton{
    border-bottom: 2px solid #35abfa;
    font-weight: bold;
    color: #35abfa;
}

.selectedButton:hover{
    border-bottom: 2px solid #35abfa;
}

.table__container{
    width: 80%;
    overflow: auto;
    height: 50vh;
    margin: 1rem auto;
}

.table__container{
    background-color: #f1f1f1;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: #f1f1f1 lightgray;
}

.table__container::-webkit-scrollbar{
    display: none;
}

.reportAll{
    padding-top: 30px;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.reportCapsule{
    padding: 1rem;
    border-radius: 45px;
    background: white;
    display: flex;
}

.reportCapsule div{
    width: 250px;
    display: flex;
}

.frame__report{
    width: 90%;
    margin: 1rem auto;
    padding: 0 1.25rem;
}