.section__coverInputBox{
    display: flex;
    margin-bottom: 1rem;
}

.section__coverInputBox input{
    text-decoration: none;
    border: none;
    border-bottom: 1px solid black;
    background: none;
    width: min-content;
}

.section__coverInputBox input:focus{
    outline: none;
}

.section__coverInputBoxIndicator{
    width: 100px;
}