.gallery__Container{
    min-height: 80vh;
}

.gallery__controller{
    display: flex;
    width: min-content;
    gap: 1rem;
}

.gallery__controller div{
    cursor: pointer;
}

.gallery__controller div:hover{
    background-color: rgb(224, 223, 223);
}

.gallery__controller div::{
    font-weight: bold;
}

.active{
    border-bottom: 1px solid #35abfa;
    font-weight: bold;
    color: #35abfa;
}