.outerAdminContainer{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: rgb(31, 28, 28);
}

.leftNavbarContainer{
    width: 350px;
    height: 100vh;
    padding: 0.5rem 0;
    color: white;
}

.rightMainContainer{
    height: 100vh;
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.adminSectionMainContent{
    padding: 0 0 0 1rem;
}

.topBarMainContent{
    width: 100%;
    height: 6vh;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    padding-left: 1rem;
}



.mainContent{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* background-color: #f1f1f1; */
    background-color: rgb(53, 53, 53);
    overflow-y: scroll;
    color: white;
}

.Content__title{
    border-right: 1px solid#5f5f61;
    padding-right: 1rem;
}

.leftTopNav{
    height: 6vh;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
    gap: 0.75rem;
}

.leftTopNav img{
    height: 95%;
}



.leftNavbar{
    width: 100%;
    height: 100%;   
}

.leftNavbarMainContent{
    height: auto;
    margin-top: 1rem;
}

.menu__title{
    color: #beb3b3;
    font-weight: 700;
    font-size: smaller;
    margin-left: 1rem;
    margin-bottom: 0;
}

.adminLists{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
}

.navAdmin__item i{
    color: #35abfa;
}

.adminLists li{
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.adminLists li:hover{
    background-color: #e9e9e9;
}

.selected {
    background-color: #35abfa;
    color: white;
    font-weight: bold;
}

.selected i{
    color: white;
}

.adminLists li.selected:hover {
    background-color: #35abfa;
}



.mainContent::-webkit-scrollbar{
    display: none;
}


.other__lists{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: auto;
}

.other__lists li{
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;   
}

.other__lists li:hover{
    color: #35abfa;
}

